
body{
  background-color: rgb(33, 33, 33);
  text-align: left;
  color: white;
}
.name{
  padding: 8px 16px 8px 16px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.nameLink, .nameLink:visited, .nameLink:hover, .nameLink:active{
  color: white;
  text-decoration: none;
}
.btn{
  font-size: 20px !important;
  color: black !important;
  background-color: white !important
}
.menu-buttons{
  padding: 50px;
}
/*center horiz and vert*/
.center {
  padding: 70px 0;
  text-align: center;
}
#construction{
  color: white;
  font-weight: bold;
}
.header{
  background-color: rgb(37, 37, 37);
  /* box-shadow: 0px 4px 32px rgb(37, 37, 37); */
}
.content{

  color: white;
  padding: 16px;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content{
  padding-top: 102px;
}
